header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 60rem;
  background-color: var(--blue-tones);
  margin: auto;
  padding: 3rem;
  border-radius: 0 0 2rem 2rem;
  gap: 1rem;
}

img {
  width: 12rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 4rem;
  }
}
